<div class="container">
    <form class="row g-3" [formGroup]="departmentform" (ngSubmit)="onSubmit()">

        <div class="col-md-6">
            <label for="inputdepartmentid" class="form-label">Department ID</label>
            <input type="text" class="form-control" formControlName="departmentid">
        </div>
        <div class="col-md-6">
            <label for="inputdepartmentname" class="form-label">Department Name</label>
            <input type="text" class="form-control" formControlName="departmentname">
        </div>

        <div class="col-md-6">
            <label for="inputmgrid" class="form-label">manger Id</label>
          <input type="text" class="form-control" formControlName="mgrid">
        </div>

        <div class="col-md-6">
            <label for="inputlocationid" class="form-label">Location ID</label>
            <input type="date" class="form-control" formControlName="locationid" />
        </div>


        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" />
                <label class="form-check-label" for="gridCheck"> Check me out </label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>