<div class="row justify-content-center">
    <div class=" register-employee">
        <!-- form card register -->
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Edit Employee</h3>
            </div>
            <div class="container">
                <form class="row g-3" [formGroup]="editForm" (ngSubmit)="onSubmit()">

                    <div class="col-md-6">
                        <label for="inputename" class="form-label">Ename</label>
                        <input type="text" class="form-control" formControlName="ename" />
                    </div>
                    <div class="col-md-6">
                        <label for="inputJobid" class="form-label">Jobid</label>
                        <select class="form-control" formControlName="jobid">
                            <option value="mgr">Manager</option>
                            <option value="clrk">Clerk</option>
                            <option value="slmn">Sales manager</option>
                            <option value="anay">Analysis</option>
                            <option value="pres">President</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="inputmanger Id" class="form-label">manger Id</label>
                        <input type="number" class="form-control" formControlName="mgrid" />
                    </div>

                    <div class="col-md-6">
                        <label for="inputhiredate" class="form-label">hiredate</label>
                        <input type="date" class="form-control" formControlName="hiredate" />
                    </div>

                    <div class="col-md-6">
                        <label for="inputSalary" class="form-label">Salary</label>
                        <input type="number" class="form-control" id="inputCity" formControlName="salary" />
                    </div>

                    <div class="col-md-6">
                        <label for="inputcomission" class="form-label">comission</label>
                        <input type="number" class="form-control" formControlName="comission" />
                    </div>

                    <div class="col-md-6">
                        <label for="inputDepartment ID " class="form-label">Department ID </label>
                        <select class="form-control" formControlName="deptid">
                            <option value="10">Accounting</option>
                            <option value="20">Research</option>
                            <option value="30">Marketing</option>
                            <option value="40">IT</option>
                            <option value="50">Operation</option>
                        </select>
                    </div>

                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck" />
                            <label class="form-check-label" for="gridCheck"> Check me out </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success btn-lg btn-block" type="submit">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- form  -->
</div>